body {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  h1{
    text-align:center;
    //background-color: #1a3;
    border-radius: 2em;
    padding:0.5em;
    color: #555;

  }
}

table{
  font-size: 1.2em;
  i{
    width: 20px;
  }
}
